html {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cell {
    border: solid 2px;
    font-size: 80px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

#game-container {
    border: solid yellow 2px;
    position: relative;
}
#over-message {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    display: flex;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
}

#over-message > h1 {
    color: red;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.1;
    }
}

.gameOver {
    animation: fade-out 1s forwards;
}